
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EQNC</title>
</head>
<body>
    <div>
        <h1>X1 = @ViewBag.X1</h1><br />
        <h1>X2 = @ViewBag.X2</h1><br />
    </div>
</body>
</html>
