
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <form>
        <button type="submit" formaction="/home/ShowTable" formmethod="get">ShowTable</button><br />
        <button type="submit" formaction="/home/EQN" formmethod="get">EQN</button><br />
        <button type="submit" formaction="/home/Zsing" formmethod="get">SaintSeiya</button><br />
    </form>
</div>
</body>
</html>
